<div class="comments">
      <% book.comments.each do |comment| %>
      <%= attachment_image_tag(comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %>
      <%= comment.user.name %>
      <%= comment.comment %>
      <% if comment.user == current_user %>
      <%= link_to "destroy", book_comment_path(comment.book,comment), method: :delete,remote: true, class: "btn btn-sm btn-danger" %>
      <% end %>
      <% end %>
    </div>